
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
} 

#main_back{
  background-color: black;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: rgba(0, 0, 0, 0.5);
}
header
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
   text-decoration: none;
   padding: 6px 15px;
   color: #fff;
   border-radius: 20px;
}
header ul li a:hover
{
    background: #FDF6ED;
    color: #020213;
    transition-duration: 500ms;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section img
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.mountains_behind{
  margin-bottom:500px;
}
#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;

}
#btn
{
    text-decoration: none;
    display: inline-block;
    scroll-behavior: smooth;
    margin-top: 300px;
    margin-bottom: 100px;
    padding: 15px 40px;
    border-radius: 40px;
    background: #FDF6ED;
    color:#020213;
    font-size: 2.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #B2AB99
}
#para
{
    line-height: 1.75em;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: justify;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0%;
}

#upcoming {
  margin-top: 10px;
  margin-left: 105px;
  color:#B2AB99;
  margin-bottom: 10px;
  font-size: 2.35em;
}

#footer {
  align-items: center;
  position: relative;
  background: #0A0A0A;
  padding: 0 20px 30px 0;
  text-align: center;
}

#footer .footer-top {
  background: #0A0A0A;
  padding: 45px 0;
}

#footer .footer-top .social-links a {  
  align-items: center;
  margin: 0 10px;
  display: inline-block;
  font-size: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  box-shadow: 0 0 0 4px #ff4b0a inset, 0 0 5px 0 rgba(000, 000, 000, 0.5);
  color: #fff;
  transition: all 0.3s;
}

#footer .footer-top .social-links a:hover {
  box-shadow: 0 0 0 4px #ff4b0a inset, 0 0 5px 0 rgba(000, 000, 000, 0.5);
  background: #ff4b0a;
  color: black;
}

@media (max-width: 575.98px) {
  #footer .footer-top .social-links a {
      margin: 0 2px;
      font-size: 20px;
      height: 40px;
      width: 40px;
      line-height: 40px;
  }
}

.cards {
  height: 70vh;
  display: flex;
  padding: 0 4em;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 5px lightblue;
}
.container {
  perspective: 1000px;
  height: 60.035vh;
  width: 55vh;
  cursor: pointer;
}
.card {
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
}
.front,
.back {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.4em;
  position: absolute;
  top: 0;
  bottom: 0;
  backface-visibility: hidden;
}
.front {
  background: #04062e;
  box-shadow: 14.5px 14.5px 14.5px hsl(0deg 0% 0% / 0.38);
  align-items: center
}

#dnext{
  border-radius: 0.4em;
  cursor: pointer;
}
.content {
  transform: translateZ(60px);
  justify-content: center;
  align-items: center;
}
.content h3 {
  font-size: 22px;
  margin-top: 1em;
  font-weight: 600;
  letter-spacing: 0.04em;
}
.content p {
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0.02em;
  padding: 0 3em; 
}
.back {
  background-color: #00291D;
  transform: rotateX(180deg);
}
.container:hover .card {
  transform: rotateX(180deg);
}
@media screen and (min-width: 992px) {
  section {
    padding: 0 1em;
  }
  .container {
    flex-basis: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1.5em;
  }
}

.dot-pulse {
  position: relative;
  align-items: center;
  left: -9999px;
  margin-left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  background-color: #B2AB99;
  color: #fff;
  box-shadow: 9999px 0 0 -10px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius:50%;
  background-color: #B2AB99;
  color: #fff;

}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.copyright {
  padding-top:19.5px;
  font-size: 18px;
  color: #B2AB99;
  font-family: monospace;
  
}

.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }


  to {
      opacity: 1;
  }
}
