* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html,
body {
    overflow-x: hidden;
    background-size: cover;
    background-color: #1e1e1e;
    height: 4120px;
    font-family: 'Montserrat';
}


nav {
    position: absolute;
    width: 2446px;
    height: 170px;
    left: -20px;
    top: -41px;
    background: #141414;
}

.top-link {
    transition: ease .4s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    scroll-behavior: smooth;
    
   cursor: pointer;
   align-items: center;
   justify-content: center;
   margin: 0 3em 3em 0;
   border-radius: 50%;
   padding: .25em;
   width: 80px;
   height: 80px;
   background-color: #F8F8F8;
   font-size:30px;
   right:0;
    margin-right: 15px;
    margin-bottom:15px;
}

.button {
    width: 150px;
    height: 40px;
    position: absolute;
    border-radius: 10px;
    background-color: #141414;
}

.button>p {
    font-family: 'Montserrat';
    top: 100px;
    text-align: center;
    color: white
}

main:hover {
    background-color: #333333;
    color: #141414;
    transition: 0.4s ease;
}

#button3place {
    left: 1210px;
    top: 90px;
}

#button4place {
    left: 1010px;
    top: 90px;
}

#logo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 67px;
    top: 57.5px;
}

.js_top{
    font-size:50px;
    transition: ease 0.4s;
}

#logotext {
    position: absolute;
    width: 266px;
    height: 55px;
    left: 239px;
    top: 76px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 55px;
    color: white;
}

.flip-card {
    margin: 20px;
    position: absolute;
    transform-style: preserve-3d;
    perspective: 1000px;
    color: #fff;
    text-align: center;
    font-size:25px;
}

.flip-card-front h2{
    padding-top:300px;
    font-size:30px;
}
.flip-card-front,
.flip-card-back {
    width: 380px;
    min-height: 600px;
    height: auto;
    background-color: #000000;
    background-image: url(img/audio-prod.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.flip-card:nth-of-type(2) .flip-card-front,
.flip-card:nth-of-type(2) .flip-card-back {
    background-image: url(img/hackathon2.jpg);
}

.flip-card:nth-of-type(3) .flip-card-front,
.flip-card:nth-of-type(3) .flip-card-back {
    background-image: url(img/programming.jpg);
}

.flip-card:nth-of-type(4) .flip-card-front,
.flip-card:nth-of-type(4) .flip-card-back {
    background-image: url(img/rap.jpg);
}

.flip-card:nth-of-type(5) .flip-card-front,
.flip-card:nth-of-type(5) .flip-card-back {
    background-image: url(img/gaming.jfif);
}

.flip-card:nth-of-type(6) .flip-card-front,
.flip-card:nth-of-type(6) .flip-card-back {
    background-image: url(img/hunt.jfif);
}

.flip-card:nth-of-type(7) .flip-card-front,
.flip-card:nth-of-type(7) .flip-card-back {
    background-image: url(img/quiz.jfif);
}

.flip-card:nth-of-type(8) .flip-card-front,
.flip-card:nth-of-type(8) .flip-card-back {
    background-image: url(img/surprise.jfif);
}


.flip-card-front {
    transform: rotateY(0deg);
}

.flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.flip-card-front::after,
.flip-card-back::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.flip-card-front .inner,
.flip-card-back .inner {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
}

.inner .icon {
    width: 120px;
    margin-bottom: 20px;
}

.inner h3 {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
}

.inner p {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
    left: 48000px;
}

.flip-card:hover .flip-card-front {
    transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-back {
    transform: rotateY(0deg);
}

#position1 {
    left: 120px;
    top: 1020px
}

#position2 {
    left: 1020px;
    top: 1020px;
}

#position3 {
    left: 120px;
    top: 1720px
}

#position4 {
    left: 1020px;
    top: 1720px
}

#position5 {
    left: 120px;
    top: 2420px
}

#position6 {
    left: 1020px;
    top: 2420px
}

#position7 {
    left: 120px;
    top: 3120px
}

#position8 {
    left: 1020px;
    top: 3120px
}

#position9 {
    left: 120px;
    top: 3220px
}

#position10 {
    left: 1020px;
    top: 3220px
}



#middletextsub {
    position: absolute;
    left: 42%;
    color: #fff;
    top: 800px;
    font-size: 44px;
}

.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }


    to {
        opacity: 1;
    }
}

#tobesub {
    position: absolute;
    top: 3900px;
    left: 57px;
    font-size: 24px;
    color: #fff;
}

#footer {
    position: absolute;
    width: 1920px;
    height: 176px;
    left: 0px;
    top: 1490px;
    background: #BE4D4D;
}

#footer {
    position: absolute;
    width: 1920px;
    height: 176px;
    left: 0px;
    top: 4120px;
    background: #BE4D4D;
}

#footertext {
    position: absolute;
    width: 922px;
    height: 61px;
    left: 400px;
    top: 31px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 70px;
    color: #fff;
}

#follow {
    position: absolute;
    width: 122px;
    height: 61px;
    left: 1096px;
    top: 91px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 70px;
    color: #fff;
}

#abt {
    position: absolute;
    left: 100px;
    color: #fff;
    top: 200px;
    font-size: 44px;
}

#abt2 {
    width: 896px;
    position: absolute;
    left: 100px;
    color: #fff;
    top: 300px;
    font-size: 24px;
    line-height: 45px;
}